N8N/RAG (Text + File Ingest + Chat Query, Pinecone).json
{
  "name": "RAG (Text + File Ingest + Chat Query, Pinecone)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a94d2968-621f-47bb-b645-8e461cc543a0",
      "name": "Ingest Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        512
      ],
      "webhookId": "e2913453-dbea-4a3c-9907-9196bbbbc2e8"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "id",
          "value": "company-records"
        },
        "options": {}
      },
      "id": "ab9da12d-8a2e-44a8-b208-40919ee10883",
      "name": "Insert Into Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        496,
        304
      ],
      "credentials": {
        "pineconeApi": {
          "id": "xpDIeZHPhYCA8seJ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "id": "139193a9-b15d-49db-9ec9-ee2106ad19e9",
      "name": "Ingest Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "ezpFw4NGLIp0NyBc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.body.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $json.body.source ?? \"webhook\" }}"
              }
            ]
          }
        }
      },
      "id": "83b92146-5f62-4128-b632-adfe2b76c412",
      "name": "Load Documents",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        528
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "56413927-44a4-4708-b5a3-33591e1f4ebe",
      "name": "Chunk Text",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        672,
        736
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"chunks\": $json.documentsInserted ?? null } }}",
        "options": {}
      },
      "id": "96c68461-cfbc-4189-94ea-8aa98445218c",
      "name": "Ingest OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        960,
        512
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-ingest-file",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d67a86ae-9249-4097-abf3-bd4c591b4276",
      "name": "File Ingest Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        1152
      ],
      "webhookId": "d76ee07d-7b31-4a77-9aee-6ac862c5d702"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "id",
          "value": "company-records"
        },
        "options": {}
      },
      "id": "08db5984-aae7-4b9e-b742-de17785a8a2d",
      "name": "Insert File Into Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        496,
        944
      ],
      "credentials": {
        "pineconeApi": {
          "id": "xpDIeZHPhYCA8seJ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "id": "dd66a48d-acb7-4a75-8d0f-b8f33c8c483b",
      "name": "File Ingest Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        1168
      ],
      "credentials": {
        "openAiApi": {
          "id": "ezpFw4NGLIp0NyBc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $binary?.data?.fileName ?? \"uploaded-file\" }}"
              }
            ]
          }
        }
      },
      "id": "72228a6a-b6fc-447e-a1e6-90175b4aba41",
      "name": "Binary File Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        1168
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "b4ce1583-b6af-4efc-9c40-fadf83109551",
      "name": "File Chunk Text",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        672,
        1376
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"chunks\": $json.documentsInserted ?? null } }}",
        "options": {}
      },
      "id": "797e09a1-a918-44d0-87d3-6e23e4348494",
      "name": "File Ingest OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        960,
        1152
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi! Ask me anything about the documents you uploaded.",
        "options": {
          "loadPreviousSession": "memory",
          "subtitle": "Answers grounded in your indexed documents.",
          "title": "RAG Chat",
          "responseMode": "lastNode"
        }
      },
      "id": "a930dbe0-ee5e-4e60-898f-90d8cdee93f6",
      "name": "Ask the RAG",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        240,
        1792
      ],
      "webhookId": "9210719c-111d-428a-835d-ced7d8d007b3"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "8da3651b-40ea-4d3a-b056-4a3fee7d3cf8",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        2016
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a retrieval-augmented assistant. Use the \"Document Knowledge Base\" tool to look up relevant passages before answering. Cite the retrieved context. If the answer is not in the documents, say so."
        }
      },
      "id": "beaea006-7eba-4626-a6a8-8f1e34ee3393",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        1792
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "fbf8775c-d55c-4c42-9502-ef803cfb539f",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        2016
      ],
      "credentials": {
        "openAiApi": {
          "id": "ezpFw4NGLIp0NyBc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the company-records Pinecone index for passages relevant to the user question. Always call this before answering factual questions.",
        "pineconeIndex": {
          "__rl": true,
          "mode": "id",
          "value": "company-records"
        },
        "options": {}
      },
      "id": "26bada5e-a202-471a-a2e6-632eef8dcec0",
      "name": "Document Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        720,
        2016
      ],
      "credentials": {
        "pineconeApi": {
          "id": "xpDIeZHPhYCA8seJ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "id": "bc61cd3c-9437-4ba0-8fec-d184e237def0",
      "name": "Query Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        2224
      ],
      "credentials": {
        "openAiApi": {
          "id": "ezpFw4NGLIp0NyBc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Text Ingest path\nPOST JSON to `/rag-ingest` with `{ \"text\": \"...\", \"source\": \"...\" }`. The text is chunked, embedded with OpenAI (1024-dim), and stored in Pinecone `company-records`.",
        "height": 408,
        "width": 1020,
        "color": 4
      },
      "id": "07ed5095-c1e3-40f2-9762-c004728ad1a6",
      "name": "Sticky Note 89037c88",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        -128
      ]
    },
    {
      "parameters": {
        "content": "## File Ingest path\nPOST a PDF, HTML, or TXT file to `/rag-ingest-file` as multipart form data. The file is auto-detected, chunked, embedded (1024-dim), and stored in Pinecone.",
        "height": 200,
        "width": 1020,
        "color": 3
      },
      "id": "08a418b4-f42a-464b-918c-acc8293896aa",
      "name": "Sticky Note f4bed474",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        1568
      ]
    },
    {
      "parameters": {
        "content": "## Query path\nThe Chat Trigger feeds the RAG Agent. The agent calls the \"Document Knowledge Base\" tool to retrieve relevant passages from Pinecone, then answers grounded in those passages.",
        "height": 200,
        "width": 684,
        "color": 5
      },
      "id": "cf4b9d29-2eb4-4190-b168-ad65b17ad36c",
      "name": "Sticky Note 33ab6e4a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        2368
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ingest Webhook": {
      "main": [
        [
          {
            "node": "Insert Into Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Into Vector Store": {
      "main": [
        [
          {
            "node": "Ingest OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert Into Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Load Documents": {
      "ai_document": [
        [
          {
            "node": "Insert Into Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Text": {
      "ai_textSplitter": [
        [
          {
            "node": "Load Documents",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "File Ingest Webhook": {
      "main": [
        [
          {
            "node": "Insert File Into Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert File Into Vector Store": {
      "main": [
        [
          {
            "node": "File Ingest OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Ingest Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert File Into Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Binary File Loader": {
      "ai_document": [
        [
          {
            "node": "Insert File Into Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "File Chunk Text": {
      "ai_textSplitter": [
        [
          {
            "node": "Binary File Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Ask the RAG": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Ask the RAG",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Document Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Document Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "a4984494-9709-43c3-a992-1e182def5884",
  "meta": {
    "aiBuilderAssisted": true,
    "templateCredsSetupCompleted": true,
    "instanceId": "0f9878767f2da4e5270c5fd8a918695123b437985586b4dfb4b7fb87112f1d5a"
  },
  "id": "YOOkSfmwWMm5gw93",
  "tags": []
}